body{
   background-color: black; z-index: auto;
   color: white;
   background-image:url(unsplash.jpg) ;
   background-repeat: no-repeat;
   margin: 0px;
   z-index: 3;
   background-size: cover;
   backdrop-filter: blur(0.3s);
   transition: background-image 0.3s ease;
   background-position:top 5%;
   flex-grow: 10px;
   position:absolute;
   margin-bottom:0px ;
   gap:0;
   border-style: groove;
      
      }
  body .alas{
   display: flex;
   flex-direction: column;
  margin: 0px;
padding: 0px;

  }
  .content{
display: inline-flex;
flex-direction: row;
}
p, #agriculture {
   color: black;
   font-size: 17px;
   font-style: normal;
   padding: 20px;
   display:flex;
   flex-direction: row-reverse;
   margin: bottom 10px;
   flex-wrap: nowrap;
   width: 100%;
   height: 200px;
   Padding: 10px;
  
}
 div .content {
   color: black;
   font-family: Helvetica;
   padding: 0px;
      
}
.details{
   background-color: #f5f5f5;
   padding: 20px;
   display:flex;
   flex-direction: row-reverse;
   margin:0;
   flex-wrap: nowrap;
   width: 100%;
   height: 200px;
   margin-top: 50px;
   Padding: 0px;
   margin-top: 50px;
}

.Suistainable {
   padding: 20px;
   display:flex;
   flex-direction: row-reverse;
   margin:0;
   flex-wrap: nowrap;
   width: 100%;
   height: 200px;
   Padding: 0px;
   margin-top: 0px;
}
.details{
   color: rgba(255, 255, 255);
   font-family: monospace;
}
#image2{
   height: 200px;
   width: 300px;
   position: relative;
   border-radius: 50%;
   overflow:hidden;
}

#JOURNEY {
   border: 2px solid black; 
   z-index: 1;

}
#about ul {
    display: inline-flex;
   box-sizing: border-box;
   flex-direction: row;
   list-style-type: square;
   justify-content: space-between;
   height: 6rem;
   align-items: center;
   padding: 5px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   list-style-type: none;
   font-size: x-large;
}
.Anime{
   display: inline-block;
   position: relative;
   top: 100%;
   left: 50%;
   transform: matrix3d(-50% ,-50%);

}
.Anime span{
   position: relative;
   color: black;
   font-style: oblique;
   font-size: 40px;
   justify-content: center;
   animation: animate 7s linear infinite;
   letter-spacing: 9px;
   text-transform: capitalize;
   font-weight: 300;

}
.Anime span:nth-child(1){
   animation-delay: 0s;
}
.Anime span:nth-child(2){
   animation-delay: 1s;
}
.Anime span:nth-child(3){
   animation-delay: 2s;
}
.Anime span:nth-child(4){
   animation-delay: 3s;
}

.Anime span:nth-child(5){
   animation-delay: 4s;
}
.Anime span:nth-child(6){
   animation-delay: 5s;
}
.Anime span:nth-child(7){
   animation-delay: 6s;
}
@keyframes animate{
   0%{filter: blur(0%);
   transform: scale3d(1);}
   40%{filter: blur(20px);
      transform: scale3d(1);}
      80%{filter: blur(20px);
         transform: scale3d(1);}
         100%{filter: blur(20px);
            transform: scale3d(1);}
}


#about li a{
   padding-right:10px;

}
article {
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(0.5s);
   color:white;
}
.projo{
   border:brown
   background-color: red

}
.projects{
   display: flex;
   flex-direction: row;
   background-color:none
}
button{
   background-color:blue;
   color: white;
   border-radius: 5px;
   padding: 5px, 10px;
   border: 2px solid;
   display: inline-flex;
   flex-direction: row;
   font-size: larger;
   float: right;
}
#JOURNEY{
   height: 200px;
   width: 300px;
   border: none;
}
button a{
   color: white;
   font-size: 18px;
}
    #footer{
      display: inline-flex;
   box-sizing: border-box;
   flex-direction: row;
   list-style-type: square;
    }
    span {
      color: blue;
      font-size: small;
    }
   